.myName{
  display: block;
  color: coral;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar{
  opacity: .2;
}

/*
For the hover animation for it to low taper fade in we have to use keyframes on gah no cap
*/
.nav-bar:hover{
  opacity: 1;
  animation: ease-in 50s;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: right;
    display: inline;
  }
  
  li a {
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  body{
    margin: 0;
    padding: 0;
    background-color: #111;
  }
